@import '@app/design/app/elements.css';

:host {
  display: flex;
  flex-direction: column;
  padding: var(--space-6);
}

h1 {
  flex-shrink: 0;
  margin-bottom: var(--space-6);
}

gl-config-editor {
  flex: 1;
  min-height: 0;
}
