@import '@app/design/app/elements.css';

:host {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: var(--bg-1);
  border: 1px solid var(--divider);
  border-radius: 0.5rem;
  padding: var(--space-4);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content {
  overflow: hidden;
}

.meta {
  color: var(--color-2);
  font-size: var(--text-sm);
}

.system-prompt {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
  line-height: 1.4;
  color: var(--color-2);
  font-size: var(--text-sm);
}

.actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-2);
  margin-top: var(--space-4);
}
